   /* label underline focus color */
   input[type=text]:focus {
    border-bottom: 1px solid #1565c0 !important;
  }

  .space {
    margin-right: 20px;
  }

  #error {
    display: none;
  }

  .error-banner {
    color: white;
    background: red;
    border-radius: 5px;
    padding: 10px 20px;
  }

  .collection {
    border: none;
  }